<div class="d-flex m-5">
  <h2>ブックマーク一覧</h2>
  
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "すべて", bookmarks_path, class: "nav-link #{'active' if params[:type_filter].blank?}" %>
  </li>
  <li class="nav-item">
    <%= link_to "プランナー", bookmarks_path(type_filter: "Planner"), class: "nav-link #{'active' if params[:type_filter] == 'Planner'}" %>
  </li>
  <li class="nav-item">
    <%= link_to "スケジュール", bookmarks_path(type_filter: "Schedule"), class: "nav-link #{'active' if params[:type_filter] == 'Schedule'}" %>
  </li>
</ul>


<div id="bookmarks" class="m-5">
  <% if @type_filter == "Planner" %>
    <% @planners.each do |bookmark| %>
      <%= render "bookmarks/bookmark_planner", bookmark: bookmark %>
    <% end %>

  <% elsif @type_filter == "Schedule" %>
    <% @schedules.each do |bookmark| %>
      <%= render "bookmarks/bookmark_schedule", bookmark: bookmark %>
    <% end %>

  <% else %>
    <% @planners.each do |bookmark| %>
      <%= render "bookmarks/bookmark_planner", bookmark: bookmark %>
    <% end %>
    <% @schedules.each do |bookmark| %>
      <%= render "bookmarks/bookmark_schedule", bookmark: bookmark %>
    <% end %>
  <% end %>
</div>
