<div class="planner">
  <%= form_with model: @planner, local: true do |f| %>
    <% if @planner.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@planner.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
          <% @planner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <div class="mb-3 pl-3 d-flex　flex-wrap flex-lg-nowrap">
        <div class="mb-3">
          <%= f.text_field :title , placeholder:"目的地"%>
        </div>
        <div class="form-group">
        <%= f.label :start_date, '開始' %>
        <%= f.text_field :start_date, id: "startdate" %>
        </div>
        <div class="sp-br"></div>
        <div class="dw">
        >>
        </div>
        <div class="mb-3">
        <%= f.label :end_date, '終了' %>
        <%= f.text_field :end_date, id: "enddate" %>
        </div>
      </div>
    </div>

    <div class="actions">
        <%= f.submit t('planner.new.create', default: '作成する'), class: "buttonCreate itemCreate", name: "commit_create" %>
    </div>
  <% end %>
</div>
