<div class="planner">
  <%= form_with model: @planner, local: true do |f| %>
    <% if @planner.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@planner.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
          <% @planner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field d-flex justify-content-center align-items-center">
      <div class="mb-3 pl-3">
        <div class="mb-3">
          <%= f.text_field :title , placeholder:"タイトル"%>
        </div>
        <br>
        <div class="form-group">
        <%= f.text_field :start_date, id: "startdate" , placeholder:"開始日"%>
        </div>
        <div class="sp-br"></div>
        <div class="dw text-center">
        >>
        </div>
        <div class="mb-3">
        <%= f.text_field :end_date, id: "enddate" , placeholder:"最終日"%>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="actions mx-3">
          <%= f.submit t('planner.new.create', default: '作成する'), class: "btn btn-danger rounded-pill", name: "commit_create" %>
      </div>

      <div  class="mx-3">
      <%= link_to "戻る", planners_path, class: "btn border-primary rounded-pill text-decoration-none" %>
      </div>
    </div>
  <% end %>
</div>
