<div id="<%= dom_id planner %>">
  <p>
    <strong>User:</strong>
    <%= planner.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= planner.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= planner.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= planner.end_date %>
  </p>

</div>
