<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <% @planners.each do |planner| %>
    <div class="col planner-card px-0">
      <div class="card m-4">
        <div class="card-img-top" style="height: 120px; background-color: #e9ecef;">
        </div>
        <%= link_to planner_schedules_path(planner), class: "card-body text-dark text-decoration-none" do %>
        <h5 class="card-title text-center"><%= planner.title %></h5>
          <div class="d-flex mb-2 mt-2 justify-content-center">
            <div class= "d-flex">
              <span class="text-muted">
                <%= planner.start_date&.in_time_zone('Tokyo')&.strftime('%Y/%m/%d') || '---' %>
              </span>
              <span class="weib-font">~</span>
              <span class="text-muted">
                <%= planner.end_date&.in_time_zone('Tokyo')&.strftime('%Y/%m/%d') || '---' %>
              </span>
            </div>
          </div>      
        <% end %>
        <div class="d-flex ms-auto">
          <div id="<%= dom_id(planner) %>" class='me-4 m-2' >
            <%= render 'shared/bookmark_button', bookmarkable: planner %>
          </div>
          <%= link_to edit_planner_path(planner), class: 'm-2 pt-2 text-dark' do %>
            <i class='bi bi-pencil-fill'></i>
          <% end %>
          <%= link_to (planner), data: { turbo_method: "delete", turbo_confirm: "削除しますか？" }, class: "btn btn-danger rounded-pill m-2" do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>