<p style="color: green"><%= notice %></p>


<div class="wrapper">
  <div class="sectionMain">
    <%# 編集ボタン %>
    
    <div class="plan">
      <div class="box card-img-top", style:height 120px;>
      <%# MVP後S3か何か追加%>
      </div>
      <ul class="informations">
        <li class="information">
          <p class="title">しおりタイトル</p>
          <p class="content"><%= @planner.title.presence || '未登録' %></p>
        </li>
        <li class="information">
          <p class="title">旅行期間</p>
          <p class="content">
            <span class="start"><%= l(@planner.start_date, format: :default) %></span> ~ 
            <span class="end"><%= l(@planner.end_date, format: :default) %></span>
          </p>
        </li>
      </ul>
      <div class="d-flex-edit-sp" >
        <% if @planner.user == current_user %>
        <div class="d-f gap-2">
          <%= link_to "スケジュール作成", new_planner_schedule_path(planner_id: @planner.id), class: "btn border-danger rounded-pill m-3"%>
        </div>  
        <div class="d-flex">
        <%= link_to "しおり情報編集", edit_planner_path(@planner), class: 'btn border-danger rounded-pill m-3	' %>
        <%= link_to "しおりを削除", planner_path(@planner), data: { turbo_method: "delete", turbo_confirm: "削除しますか？" }, class: "border-danger rounded-pill m-3 btn" %>
        </div>          
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
<div>
  <%= link_to "Back to planners", planners_path, class:"btn border-danger rounded-pill m-3"%>
</div>