<div id="<%= dom_id schedule %>">
  <details class="accordion-box mt-5">
    <summary class="d-flex flex-wrap p-3 align-items-center toggle-summary">
      <%# 一列目 %>
      <div class="d-flex w-100">
      <span class="toggle-indicator">▶</span>
        <div class="ms-4">
          <strong class="sp"><span class="under"><%= schedule.start_date&.in_time_zone('Tokyo')&.strftime('%m/%d %H:%M') || '' %></span>
          <span class="sp_none">〜</span>
            <span class="under"><%= schedule.end_date&.in_time_zone('Tokyo')&.strftime('%m/%d %H:%M') || '' %></span></strong>
        </div>
        <!-- 編集・削除・ブクマ -->
        <div class="d-flex ms-auto me-3">
          <%= link_to edit_planner_schedule_path(@planner, schedule), class: 'm-2 text-dark' do %>
            <i class='bi bi-pencil-fill'></i>
          <% end %>
          <%= link_to [@planner, schedule], data: { turbo_method: "delete", turbo_confirm: "削除しますか？" }, class: "btn btn-danger rounded-pill m-2" do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
          <div id="<%= dom_id(schedule) %>" class="m-2">
            <%= render 'shared/bookmark_button', bookmarkable: schedule %>
          </div>
        </div>
      </div>
        <!-- タイトル -->
      <p class="w-100 value-box mt-3 text-center mx-5">
      <strong>
      <%= schedule.destination %>
      </strong>
      </p>
    </summary>
    <div class="accordion-body p-3">
      <div class="flex-direction-row mb-3 align-items-normal accordion-content text-center">
        <strong class="label-box">費用</strong>
        
        <strong class="value-box">
          <%= schedule.cost || '---' %>円
        </strong>
      </div>
      <div class="mb-3 align-items-normal accordion-content text-center">
        <strong class="label-box">場所</strong>
        <strong class="value-box">
          <%= schedule.address || '---' %>
        </strong>
      </div>
      <div class="mb-3 align-items-normal accordion-content text-center">
        <strong class="label-box">詳細説明</strong>
        <strong class="value-box">
          <%= schedule.description || '---' %>
        </strong>
      </div>
    </div>

  </details>
</div>
