<div id="<%= dom_id schedule %>">
  <details class="accordion-box m-5">
    <summary class="d-flex p-3 align-items-center toggle-summary">
      <div class="d-flex">
      <span class="toggle-indicator">▶</span>
      <strong class="label-box">目的地</strong>
      </div>
      <div class="value-box-sp">
        <p class="value-box"><%= schedule.destination %></p>
        <div class="ms-3">
          <%= link_to edit_planner_schedule_path(@planner, schedule), class: 'm-3 text-dark' do%>
            <i class='bi bi-pencil-fill'></i>
          <% end %>
          <%= link_to  planner_schedule_path(@planner, schedule), data: { turbo_d: "delete", turbo_confirm: "削除しますか？" }, class: "m-3 text-dark" do %>
          <i class="bi bi-trash-fill"></i>
          <% end %>  
          <div id="<%= dom_id(schedule) %>">
            <%= render 'shared/bookmark_button', bookmarkable: schedule %>
          </div>
        </div>
      </div>
    </summary>

    <div class="accordion-body p-3">
      <div class="d-flex mb-3 align-items-normal accordion-content">
        <strong class="label-box">時刻</strong>
        <p class="value-box">
          <%= schedule.start_date&.in_time_zone('Tokyo')&.strftime('%Y/%m/%d %H:%M') || '' %>~<%= schedule.end_date&.in_time_zone('Tokyo')&.strftime('%Y/%m/%d %H:%M') || '' %>
        </p>
      </div>
      <div class="d-flex mb-3 align-items-normal accordion-content">
        <strong class="label-box">費用</strong>
        <p class="value-box">
          <%= schedule.cost || '---' %>円
        </p>
      </div>
      <div class="d-flex mb-3 align-items-normal accordion-content">
        <strong class="label-box">地点説明</strong>
        <p class="value-box">
          <%= schedule.description || '---' %>
        </p>
      </div>
      <div class="d-flex mb-3 align-items-normal accordion-content">
        <strong class="label-box">場所</strong>
        <p class="value-box">
          <%= schedule.address || '---' %>
        </p>
      </div>
    </div>

  </details>
</div>