<div id="<%= dom_id schedule %>">
  <details class="accordion-box mt-5">
    <summary class="d-flex p-3 align-items-center toggle-summary">
      <span class="toggle-indicator">▶</span>
      <div class="mx-3 mb-3">
        <strong class="">
          <%= schedule.start_date&.in_time_zone('Tokyo')&.strftime('%Y/%m/%d %H:%M') || '' %>~<%= schedule.end_date&.in_time_zone('Tokyo')&.strftime('%Y/%m/%d %H:%M') || '' %>
        </strong>
      </div>
        <!-- タイトル -->
      <p class="w-100 mt-2 me-3 text-center value-box">
        <%= schedule.destination %>
      </p>
      <!-- 編集・削除・ブクマ -->
      <div class="order-md-1 ms-auto d-flex justify-content-end">
        <%= link_to edit_planner_schedule_path(@planner, schedule), class: 'm-2 text-dark' do %>
          <i class='bi bi-pencil-fill'></i>
        <% end %>
        <%= link_to [@planner, schedule], data: { turbo_method: "delete", turbo_confirm: "削除しますか？" }, class: "btn btn-danger rounded-pill m-2" do %>
          <i class="bi bi-trash-fill"></i>
        <% end %>
        <div id="<%= dom_id(schedule) %>" class="my-auto">
          <%= render 'shared/bookmark_button', bookmarkable: schedule %>
        </div>
      </div>
    </summary>

    <div class="accordion-body p-3">
      <div class="flex-direction-row mb-3 align-items-normal accordion-content">
        <strong class="label-box">費用</strong>
        <strong class="value-box ms-3">
          <%= schedule.cost || '---' %>円
        </strong>
      </div>
      <div class="mb-3 align-items-normal accordion-content">
        <strong class="label-box">場所</strong>
        <strong class="value-box ms-3">
          <%= schedule.address || '---' %>
        </strong>
      </div>
      <div class="mb-3 align-items-normal accordion-content">
        <strong class="label-box">詳細説明</strong>
        <strong class="value-box ms-3">
          <%= schedule.description || '---' %>
        </strong>
      </div>
    </div>

  </details>
</div>