<div id="<%= dom_id schedule %>">
  <p>
    <strong>User:</strong>
    <%= schedule.user_id %>
  </p>

  <p>
    <strong>Planner:</strong>
    <%= schedule.planner_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= schedule.destination %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= schedule.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= schedule.end_date %>
  </p>

</div>
