<div class="schedule">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Schedules" %>

  <h1><%= @planner.title %></h1>

  <%= link_to "スケジュール作成", new_planner_schedule_path(planner_id: @planner.id), class: "btn border-danger rounded-pill m-3"%>
  <p>
  <%= link_to '早い順', planner_schedules_path(@planner, sort: 'asc') %> |
  <%= link_to '遅い順', planner_schedules_path(@planner, sort: 'desc') %>
</p>

  <div id="schedules">
    <% @schedules.each do |schedule| %>

      <%= render schedule%>
    <% end %>
    <div id="map" class="mt-3" style="height: 500px; width: 100%;"></div>
  </div>
</div>