<header id="header" class="header fixed top-0 left-0 z-50" >
  <nav class="navbar navbar-expand-lg bg-success h-100" style="height: fit-content;--bs-bg-opacity: .3;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <% if current_user.present? %>
      <!-- 左端ロゴ -->
      <%= link_to root_path, class: 'header-logo ms-4 py-3' do %>
        たびログ
      <% end %>

      <!-- トグルボタンは右端 -->
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 展開するナビゲーション -->
      <div class="collapse navbar-collapse justify-content-end me-5" id="navbarTogglerDemo03">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to planners_path, class: 'nav-link d-flex' do %>
              <span><i class="bi bi-book-fill"></i></span>
              <p>思い出ボックス</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to bookmarks_path, class: 'nav-link d-flex' do %>
              <span><i class="bi bi-star"></i></span>
              <p>bookmark</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to planners_path, class: 'nav-link d-flex' do %>
              <span><i class="bi bi-book"></i></span>
              <p>アプリの説明</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to sitelists_path, class: 'nav-link d-flex' do %>
              <span><i class="bi bi-book"></i></span>
              <p>便利なサイト一覧</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link d-flex' do %>
            <span><i class="bi bi-person-circle"></i></span>
            <p>マイページ</p>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link d-flex' do %>
              <span><i class="bi bi-box-arrow-right"></i></span>
              <p>ログアウト</p>
            <% end %>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </nav>
</header>
